/* @layer renderer-app @kind style */
.option-control__labelled {
  display: contents;
}

.option-control__range {
  width: 100%;
}

.option-control__slider {
  flex: 1;
  min-width: var(--size-128);
}

.option-control__counter-name {
  flex: 1;
  min-width: var(--size-128);
  overflow-wrap: anywhere;
}

.option-control__json {
  width: 100%;
  font-family: var(--font-mono);
  font-size: var(--text-sm);
}
